config SHIELD_POMEKEY_MINI_LEFT
    def_bool $(shields_list_contains,pomekey_mini_left)
    select KSCAN
    select ZMK_KSCAN_CHARLIEPLEX
    select ZMK_PHYSICAL_LAYOUTS

config SHIELD_POMEKEY_MINI_RIGHT
    def_bool $(shields_list_contains,pomekey_mini_right)
    select KSCAN
    select ZMK_KSCAN_CHARLIEPLEX
    select ZMK_PHYSICAL_LAYOUTS
