if SHIELD_POMEKEY_MINI_LEFT || SHIELD_POMEKEY_MINI_RIGHT

config ZMK_KEYBOARD_NAME
    default "pomekey_mini"

config NFCT_PINS_AS_GPIOS
    default y

config ZMK_SPLIT
    default y

config ZMK_POINTING
    default y

# Note: These values are already defined in ZMK/Zephyr Kconfig.
# We just want to set their default values for this shield.
# We use 'select' or just 'default' if the symbols are already visible.

endif
